<h1>Teste </h1>

<button onclick="mudarPagina()"> Listar Pessoas</button>
<button onclick="mudarPaginaPaciente()"> Ir para o formulário de Pacientes.</button>

<script type="text/javascript">
    function mudarPagina() {
        window.location = '@Url.Action("ListarPessoasTela", "Pessoa")';
    }

    function mudarPaginaPaciente() {
        window.location = '@Url.Action("PaginaComForms", "Pessoa")';
    }
</script>