<h1>Teste </h1>

<button onclick="mudarPagina()"> Ir ao formulário de cadastro.</button>


<script type="text/javascript">
    function mudarPagina() {
        window.location = '@Url.Action("PaginaComForms", "Pessoa")';
    }
</script>